<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <style>
        html {
            background-color: #494f5c;
            color: #fff;
        }
        img {
            border: #fff 10px solid;
            width: 15em;
            height: 15em;
        }
        #container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5em;
        }
    </style>
</head>
<body>
    <h1>&nbsp;</h1>
    <div id="container">
        {{ range (sort .Data.Pages "File.Path") }}
            <!-- <pre>{{ .Page | jsonify (dict "indent" "  ") }}</pre> -->
            {{ $image := .Resources.Get "icon.jpg" }}
            <a href="{{ .Permalink }}"><img src="{{ $image.RelPermalink }}" /></a>
        {{ end }}
    </div>
</body>
</html>
