<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    {{ $style := resources.Get "scss/photo.scss" | resources.ExecuteAsTemplate "css/photo.css" . | toCSS | minify | fingerprint -}}
    <link href="{{ $style.Permalink }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="page">
        <div id="content">
            <div id="header">
                {{ .Title }}
                <a id="icon" class="icon" href="/">S</a>
            </div>
            {{ $imageHost := .Site.Params.imageHost }}
            {{ $folder := .Params.folder }}
            {{ range $image := .Params.images }}
                <img class="photo" src="{{ $imageHost }}/galleries/{{ $folder }}/{{ $image }}" alt="{{ $image }}">
            {{ end }}
            <div id="navigation">
                {{- with .PrevInSection }}
                    <div id="older">
                        <a href="{{ .Permalink }}">&larr; Previous</a>
                    </div>
                {{ end }}
                {{ with .NextInSection }}
                    <div id="newer">
                        <a href="{{ .Permalink }}">Next &rarr;</a>
                    </div>
                {{ end }}
            </div>
            {{ partial "photo/copyright.html" . }}
        </div>
    </div>
</body>
</html>
